body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: blue;
}

.calculator {
    width: 400px;
    background-color: rgb(112, 200, 216);
    border-radius: 8px;
    box-shadow: black;
    padding: 20px;
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border: 1px solid rgb(235, 135, 205);
    border-radius: 4px;
    box-sizing: border-box;
}

.keys {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 0 0 22%;
    padding: 15px;
    margin: 4px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: pink;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(235, 135, 160);
}

.operator {
    background-color: blueviolet;
    color: #fff;
}

.equals {
    background-color: blueviolet;
    color: #fff;
}

.clear {
    background-color: #f44336;
    color: #fff;
}

